# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/

# Production Build
dist/
build/

# Environment Variables
.env
.env.*
!.env.example

# Uploads & Local Storage
uploads/
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Prisma generated
prisma/generated/
